@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

#contenido {
  padding: 2rem;
}
#contenido #titulo {
  margin-bottom: 2rem;
}
#contenido .lista {
  margin-top: 2rem;
  list-style-position: inside;
  background-color: pink;
}